* {
  border: none;
  font-family:
    JetBrainsMono Nerd Font,
    sans-serif;
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  background: rgba(30, 30, 46, 0.95);
  border-bottom: 2px solid #89b4fa;
  color: #cdd6f4;
}

#workspaces button {
  padding: 0 8px;
  color: #cdd6f4;
}

#workspaces button.active {
  background: #89b4fa;
  color: #1e1e2e;
  border-radius: 5px;
}

#workspaces button:hover {
  background: #585b70;
  border-radius: 5px;
}

#clock,
#pulseaudio,
#network,
#battery,
#tray,
#window {
  padding: 0 10px;
}

#battery.charging {
  color: #a6e3a1;
}

#battery.critical {
  color: #f38ba8;
}
